.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*
*.ok
*.md
.rst
*.htaccess
/cache/
/tmp/
/logs/

# Medias Files
#-------------------------
*.mp3
*.zip
*.jpg
*.png
*.gif
*.psd
.sql
#!application/assets/sql/login.sql
*.txt
test*
jquery*
svn*

# Codeigniter Files
#-------------------------
app
application/config/database.php
application/cache*
#application/config/*
application/hooks/*
application/core/*
application/language/*
application/views/errors*
#application/libraries/*
application/logs/*
application/third_party/*
application/system/*
assets/css/bootstrap*
assets/js/bootstrap*
tests/*
system*
core*
bootstrap*
jquery*
fonts*
index.html

IMG/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
